<nav class="page">
  <a class="<%= item[0] %>" href="/">Calendario</a>
  <a class="<%= item[1] %>" href="/consultations/views">Consultas</a>
  <a class="<%= item[2] %>" href="/consultation/new">Nova Consulta</a>
</nav>
