<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Realizar Login</title>
  <link rel="stylesheet" href="/relieve.css">
</head>
<body>

  <div class="container">
   <h1>Realize login</h1>
   <form action="/auth" method="POST">
     <label for="email">Email:</label>
     <input type="email" name="email" id="email" placeholder="Seu email">

     <label for="password">Descrição: </label>
     <input type="password" name="password" id="password" placeholder="*******">

     <button class="button">Fazer Login</button>
   </form>
 </div>

 
</body>
</html>